:root {
    --primary-color: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    --secondary-color: #515A74;
    --chart-color: #056773;
    --white-color: #ffffff;
    /* --dark-theme: #cbc3c35f; */

}

.dark-theme {
    --primary-color: #22263A;
    --secondary-color: #fff;
    --chart-color: #ffffff;
    --white-color: #1f2328f6;
    /* --dark-theme: #515A74; */
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


html,
body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-position: center;
    background: var(--primary-color);
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--white-color);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
    overflow-x: hidden;
}

.moon img {
    width: 8%;
    height: 8%;
}

.moon p:hover {
    color: var(--chart-color);
}

.moon p {
    color: var(--chart-color);
}

.logo {
    cursor: pointer;
}

.nav_list {
    list-style: none;
}


.nav_list li {
    display: inline-block;
    padding: 0 20px;
}

.nav_list li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--chart-color);
    font-weight: 18px;
}

.nav_list li a:hover {
    color: var(--white-color);
    background-color: #FFA200;
    border-radius: 50px;
    padding: 9px 25px;
}


#log {
    padding: 9px 25px;
    margin-right: 15px;
    background-color: var(--chart-color);
    color: var(--white-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#log:hover {
    background-color: #FFA200;
}

nav svg {
    fill: var(--chart-color);
    transition: all 0.3s ease 0s;
}

nav svg:hover {
    fill: #FFA200;
}

.close-sidebar-button svg {
    padding-top: 1rem;
}

.side-list {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    z-index: 10;
    right: -350px;
    width: 340px;

    background-color: var(--white-color);
    ;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.50s ease-out;
}

.base_list li,
.service_list li,
.login li {
    list-style: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 15px 30px;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 2rem;
}

.service_list,
.base_list {
    border-top: 1px solid #05667344;
}

.logout li {
    margin-top: 20rem;
    border-top: 3px solid #05667344;

    list-style: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 15px 30px;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--chart-color);
    font-size: 16px;
}

.base_list li a,
.service_list li a,
.logout li a,
.login li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--chart-color);
}

.base_list li a:hover,
.service_list li a:hover,
.logout li a:hover,
.login li a:hover {
    color: #ffffff;
    background-color: #FFA200;
    border-radius: 50px;
    padding: 9px 25px;
}

.side-list ul li i {
    padding-right: 7px;
}

.open-sidebar-button,
.close-sidebar-button {
    padding: 20px;
    display: block;
}

#sidebar-active:checked~.side-list {
    right: 0;
}

#sidebar-active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#sidebar-active {
    display: none;
}

.service_list,
.login {
    display: none;
}


@media(max-width: 500px) {

    .service_list,
    .login {
        display: block;
    }

    .login {
        border-top: 1px solid #05667344;
    }

    .logout li {
        margin-top: 4rem;
    }

    .base_list li,
    .service_list li,
    .login li {
        padding-top: 1.5rem;
    }

    .nav_list,
    #log {
        display: none;
    }
}

.start {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.start-content {
    max-width: 630px;
}

.start-content h1 {
    font-size: 50px;
    line-height: 1.2;
    color: rgb(33, 107, 255);
}

.start-content p {
    font-size: 20px;
    margin: 15px 0 30px;
    color: var(--secondary-color);
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: rgb(33, 107, 255);
    border: 2px solid rgb(33, 107, 255);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 19px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background: #fff;
    color: rgb(33, 107, 255);
}

.start-img {
    position: relative;
    width: 380px;
    height: 380px;
    transform: rotate(45deg);
    margin-left: 15%;
    /* overflow: hidden; */
}

.start-img .labtop {
    position: absolute;
    right: 32%;
    width: 80%;
    height: 80%;
    background: #dbe8ff;
    border: 25px solid rgb(33, 107, 255);
    box-shadow: -20px -15px 20px rgba(0, 0, 0, 0.2);
}

.start-img .labtop img {
    position: absolute;
    left: -100px;
    max-width: 500px;
    transform: rotate(-45deg);
}


.start .labtop2 {
    position: absolute;
    top: -25%;
    right: -0%;
    width: 700px;
    height: 700px;
    background: rgb(25, 101, 254);
    transform: rotate(45deg);
    z-index: -1;
}

@media screen and (width > 300px) and (width < 900px) {
    .start {
        flex-direction: column-reverse;
        align-items: center;
    }

    .start-img .labtop {
        right: 0;
        width: 100%;
        height: 100%;
        border: 15px solid rgb(33, 107, 255);
    }
}