* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    width: 100%;
    height: 100vh;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(235, 244, 252);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;

}

.logo {

    cursor: pointer;
}

.nav_list {
    list-style: none;
}


.nav_list li {
    display: inline-block;
    padding: 0 20px;
}

.nav_list li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #056773;
    font-weight: 18px;
}

.nav_list li a:hover {
    color: #ffffff;
    background-color: #FFA200;
    border-radius: 50px;
    padding: 9px 25px;
}


#log {
    padding: 9px 25px;
    margin-right: 15px;
    background-color: #056773;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#log:hover {
    background-color: #FFA200;
}

nav svg {
    fill: #056773;
    transition: all 0.3s ease 0s;
}

nav svg:hover {
    fill: #FFA200;
}

.close-sidebar-button svg {
    padding-top: 1rem;
}

.side-list {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    z-index: 10;
    right: -350px;
    width: 340px;

    background-color: rgb(235, 244, 252);
    ;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.50s ease-out;
}

.base_list li,
.service_list li,
.login li {
    list-style: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 15px 30px;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 2rem;
}

.service_list,
.base_list {
    border-top: 1px solid #05667344;
}

.logout li {
    margin-top: 20rem;
    border-top: 3px solid #05667344;

    list-style: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 15px 30px;
    justify-content: flex-start;
    text-decoration: none;
    color: #056773;
    font-size: 16px;
}

.base_list li a,
.service_list li a,
.logout li a,
.login li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #056773;
}

.base_list li a:hover,
.service_list li a:hover,
.logout li a:hover,
.login li a:hover {
    color: #ffffff;
    background-color: #FFA200;
    border-radius: 50px;
    padding: 9px 25px;
}

.side-list ul li i {
    padding-right: 7px;
}

.open-sidebar-button,
.close-sidebar-button {
    padding: 20px;
    display: block;
}

#sidebar-active:checked~.side-list {
    right: 0;
}

#sidebar-active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#sidebar-active {
    display: none;
}

.service_list,
.login {
    display: none;
}


@media(max-width: 500px) {

    .service_list,
    .login {
        display: block;
    }

    .login {
        border-top: 1px solid #05667344;
    }

    .logout li {
        margin-top: 4rem;
    }

    .base_list li,
    .service_list li,
    .login li {
        padding-top: 1.5rem;
    }

    .nav_list,
    #log {
        display: none;
    }
}

.container {
    width: 50%;
    height: 100vh;
    background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 60px;
    box-sizing: border-box;
    z-index: 999;
}


.info {
    width: 550px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info h1 {
    font-size: 60px;
    letter-spacing: 10px;
    font-family: sans-serif;
}

.info p {
    color: #f0eef1;
    font-size: 18px;
    margin: 20px 0;
    line-height: 18px;
    font-family: sans-serif;
}


#start {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#start:hover {
    background-color: #FFA200;
}


.slider {
    overflow: hidden;
    position: relative;
    /* Ensure proper positioning */
    z-index: 1;
    /* Ensure slider is behind container */
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img {
    float: left;
    width: 20%;
    height: 100vh;
}

@keyframes slider {

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

@media screen and (width > 300px) and (width < 768px) {
    .container {
        width: 100vw;
        height: 50vh;
        /* left: 50%; */
    }

    .info {
        width: 90%;
    }
}