* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: "Roboto", sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #CADFE0;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #056773, #7ABBBE);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-signup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

form.login-form {
    z-index: 2;
}

form.signup-form {
    z-index: 1;
    opacity: 0;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #7ABBBE;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #444;
    font-size: 1.1rem;
}

.input-field input {
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    color: #333;
    flex: 1;
}

.input-field input::placeholder {
    color: #444;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #056773;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover {
    background-color: #7ABBBE;
}

.panels-container {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.image {
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.right-panel .content,
.right-panel .image {
    transform: translateX(800px);
}

.container.signup-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.signup-mode .left-panel .image,
.container.signup-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.signup-mode .right-panel .content,
.container.signup-mode .right-panel .image {
    transform: translateX(0px);
}

.container.signup-mode .left-panel {
    pointer-events: none;
}

.container.signup-mode .right-panel {
    pointer-events: all;
}

.container.signup-mode .login-signup {
    left: 25%;
}

.container.signup-mode form.login-form {
    z-index: 1;
    opacity: 0;
}

.container.signup-mode form.signup-form {
    z-index: 2;
    opacity: 1;
}

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }

    .container::before {
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .login-signup {
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .input-field {
        background-color: #CADFE0;
    }

    .btn.transparent {
        border-color: #CADFE0;
    }

    .panels-container {
        z-index: 10;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .panel .content {
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }

    .panel .h3 {
        font-size: 1.2rem;
    }

    .panel .p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .image {
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }

    .right-panel .content,
    .right-panel .image {
        transform: translateY(300px);
    }

    .container.signup-mode::before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container.signup-mode .left-panel .image,
    .container.signup-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container.signup-mode .login-signup {
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content {
        padding: 35vw 1vw;
    }

    .container::before {
        bottom: 60%;
        left: 50%;
    }

    .container.signup-mode::before {
        bottom: 24%;
        left: 50%;
    }
}

nav svg {
    fill: #056773;
    transition: all 0.3s ease 0s;
}

nav svg:hover {
    fill: #FFA200;
}

.close-sidebar-button svg {
    padding-top: 1rem;
}

.side-list {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    z-index: 10;
    left: -350px;
    width: 340px;

    background-color: rgb(235, 244, 252);
    ;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.50s ease-out;
}

.base_list li,
.service_list li,
.login li {
    list-style: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 6px 20px;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 2rem;
}

.service_list,
.base_list {
    border-top: 1px solid #05667344;
}

.logout li {
    margin-top: 5.5rem;
    border-top: 3px solid #05667344;

    list-style: none;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 15px 30px;
    justify-content: flex-start;
    text-decoration: none;
    color: #056773;
    font-size: 16px;
}

.base_list li a,
.service_list li a,
.logout li a,
.login li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #056773;
}

.base_list li a:hover,
.service_list li a:hover,
.logout li a:hover,
.login li a:hover {
    color: #ffffff;
    background-color: #FFA200;
    border-radius: 50px;
    padding: 9px 25px;
}

.side-list ul li i {
    padding-right: 7px;
}

.open-sidebar-button,
.close-sidebar-button {
    padding: 20px;
    display: block;
}

#sidebar-active:checked~.side-list {
    left: 0;
}

#sidebar-active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#sidebar-active {
    display: none;
}

@media screen and (width > 300px) and (width < 900px) {
    .content {
        /* display: none; */
    }

    .input-field {
        background-color: #7ABBBE;
    }
}